<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex AI</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
<div class="container">
    <h1>ML Pokedex</h1>
    <div class="capture-box">
        <div class="blink">
            ----------------------------------------<br>
            Pokedex Model still training
            <br>----------------------------------------<br>
            Open Camera to capture the an image of the Pokemon..
            <br><br>
            ..and hit scan for predictions
        </div>
    </div>
    <form
        action="/predict"
        method="POST"
        enctype="multipart/form-data">

        <label
            for="image-upload"
            class="custom-upload"> Open Camera </label>
        <input
            id="image-upload"
            type="file"
            name="image"
            accept="image/*"
            capture="environment"
            hidden
        >
        <button type = "submit">
            Scan
        </button>
    </form>
</div>
</body>
</html>